.logo {
	height: 50px;
	background: white;
}
.cltNav {
	background-color: #26303c;
	/* -webkit-box-shadow: 5px 5px 23px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 5px 23px 0px rgba(0, 0, 0, 0.75); */
	box-shadow: 5px 5px 23px 0px rgba(0, 0, 0, 0.75);
	position: fixed !important;
	top: 0px !important;
	z-index: 100;
	width: 100%;
}
.cltLink {
	color: #fff !important;
	font-weight: bold;
}
.cltLinkDrop {
	color: #fff !important;
	font-weight: bold;
	background-image: linear-gradient(#696969, #696969);
}
.navIcon {
	height: 30px !important;
	opacity: 0.5;
	transition: all 0.5s;
}
.navIcon:hover {
	height: 40px !important;
	opacity: 1;
	transition: all 0.5s;
}

.espaco {
	margin-left: 25vw !important;
}

@media (max-width: 767px) {
	.cltLink {
		display: none !important;
	}
}
